html {
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body {
	background-image: url("img/white_sand.png");
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#main-col {
	transition: all 1.5s;
	position: relative;
	margin: 0px auto;
	max-width: 800px;
	height: 100%;
	padding: 16px;
	overflow: scroll;
	background-color: rgba(255, 255, 255, .96);
	box-shadow: 1px 2px 10px rgba(0,0, 0, .4);
}

#network {
		box-shadow: 1px 2px 0px 10px rgba(0,0, 0, .4);
	width: 700px;
	height: 600px;
}

.city-node {
	left: 0px;
	top: 0px;
	text-align: center;
	z-index: 100;
	position: absolute;
	width: 120px;
	height: 120px;
	padding: 20px;
		background-color: rgba(255, 255, 225, .96);
	box-shadow: 1px 2px 10px rgba(0,0, 0, .4);
	border-radius: 100px;
}


.city-node:hover{
	z-index: 200;
		background-color: rgba(125, 155, 255, .96);
	
}

.city-namelabel {
		font-style: bold;
	z-index: 200;
	
	text-align: center;
width: 100%;
}

.city-label {
	font-size: 12px;
	font-style: italic;
	text-align: center;
width: 100%;
}